* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* ⭐️ 핵심 */
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffaf0;
  color: #444;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 0 40px;
  background: #fffaf0;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 100;
}

/*
  width: 100%;
  height: 220px;
  background: #fffaf0;
  display: flex;
  flex-direction: column; /*세로정렬
  justify-content: center;
  align-items: center;
  z-index: 100;
}
*/
.logo {
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 800;
  color: ff9ad3;
  text-decoration: none;
  line-height: 1;
}
/* 링크 상태 전부 통제 */
.logo:visited,
.logo:hover,
.logo:active {
  color: #ff9ad3;
  text-decoration: none;
}

.header nav {
  display: flex;
  gap: 36px; /*메뉴 사이 간격*/
  margin-top: 16px; /*로고 아래 여백*/
}

.header nav a {
  font-size: 13px;
  letter-spacing: 1px;
  color: #999;
  text-decoration: none;
  text-transform: lowercase;
  line-height: 1.2;
}

.header nav a,
.header nav a:visited,
.header nav a:hover,
.header nav a:active {
  color: #999;
  text-decoration: none;
}

.header nav a {
  position: relative;
  padding-bottom: 6px;
}
/* 메뉴 밑 라인 */
.header nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background: #bbb;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.25s ease;
}
/* hover & 현재 섹션 */
.header nav a:hover::after,
.header nav a.active::after {
  transform: scaleX(1);
}

/* HERO */
.hero-title {
  font-size: 64px;
  font-weight: 800;
  color: #ff9ad3;
  letter-spacing: 6px;
  text-align: center;
}

.hero {
  height: 100vh;
  padding-top: 240px; /* header 높이 보정 */
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 160px 0;
  scroll-margin-top: 100px; 
}

.section h2 {
  margin-bottom: 40px;
  font-weight: 600;
  scroll-margin-top: 100px; 
}

.container {
  max-width: 900px;    /* ⭐️ 핵심 */
  margin: 0 auto;      /* 가운데 */
  padding: 0 24px;     /* 모바일 여백 */
}

/* CONTACT FORM */
.contact-form {
  max-width: 700px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  background: #eee;
  font-family: inherit;
}

.contact-form textarea {
  height: 150px;
  border-radius: 20px;
}

.contact-form button {
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  background: #888;
  color: white;
  cursor: pointer;
}

/* FOOTER */
.footer {
  padding: 40px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
