* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* ⭐️ 핵심 */
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffaf0;
  color: #444;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 220px;
  background: #fffaf0;
  display: flex;
  flex-direction: column; /*세로정렬*/
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 56px;
  letter-spacing: 10px;
  font-weight: 800;
  color: #ff9ad3;
  text-decoration: none;
  line-height: 1.1; /*행간 제거*/
}

.header nav {
  display: flex;
  gap: 56px /*메뉴 사이 간격*/
  margin-top: 18px; /*로고 아래 여백*/
}

.header nav a {
  font-size: 14px;
  letter-spacing: 3px;
  color: #999;
  text-decoration: none;
  text-transform: lowercase;
}

/* HERO */
.hero-title {
  font-size: 64px;
  font-weight: 800;
  color: #ff9ad3;
  letter-spacing: 6px;
  text-align: center;
}

.hero {
  height: 100vh;
  padding-top: 220px; /* header 높이 보정 */
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 160px 0;
}

.section h2 {
  margin-bottom: 40px;
  font-weight: 600;
}

.container {
  max-width: 900px;    /* ⭐️ 핵심 */
  margin: 0 auto;      /* 가운데 */
  padding: 0 24px;     /* 모바일 여백 */
}

/* CONTACT FORM */
.contact-form {
  max-width: 700px;
}

.contact-form .row {
  display: flex;
  gap: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 16px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  background: #eee;
  font-family: inherit;
}

.contact-form textarea {
  height: 150px;
  border-radius: 20px;
}

.contact-form button {
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  background: #888;
  color: white;
  cursor: pointer;
}

/* FOOTER */
.footer {
  padding: 40px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
