body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
  line-height: 1.6;
  background-color: #FFFCF4;
  color: #817E7E;
}

}

nav a {
  margin-right: 12px;
  text-decoration: none;
}

.name {
  color: #222222;
}

a {
  color: inherit;        /* 부모 글자색 그대로 */
  text-decoration: none; /* 밑줄 제거 */
}

a:hover {
  text-decoration: underline;
},
a:visited,
a:active {
  color: inherit;        /* hover / click / visited 모두 동일 */
}
